<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>332495229774-6u2jblmcjbgjb1s48k7bp8g880qfcj8q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.332495229774-6u2jblmcjbgjb1s48k7bp8g880qfcj8q</string>
	<key>API_KEY</key>
	<string>AIzaSyCwDNBGN8y1Cvq9ZfkIuHtKhDqf2_iGPGc</string>
	<key>GCM_SENDER_ID</key>
	<string>332495229774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>metodolit.metodoloit</string>
	<key>PROJECT_ID</key>
	<string>metodolit2</string>
	<key>STORAGE_BUCKET</key>
	<string>metodolit2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332495229774:ios:3378305473ff23e3c8c41f</string>
	<key>DATABASE_URL</key>
	<string>https://metodolit2.firebaseio.com</string>
</dict>
</plist>